<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need your camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to photolibrary</string>
	<key>CLIENT_ID</key>
	<string>230816726688-pk7t9kf140g68d1fsstj88an0ik3akt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230816726688-pk7t9kf140g68d1fsstj88an0ik3akt6</string>
	<key>API_KEY</key>
	<string>AIzaSyCjeMGppw692Hp8gpKoqhqmQBi6N6Sn2V0</string>
	<key>GCM_SENDER_ID</key>
	<string>230816726688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colorquest.app</string>
	<key>PROJECT_ID</key>
	<string>colorquest-51f44</string>
	<key>STORAGE_BUCKET</key>
	<string>colorquest-51f44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:230816726688:ios:a9b34adbdf3ce01c36d3c5</string>
	<key>DATABASE_URL</key>
	<string>https://colorquest-51f44.firebaseio.com</string>
</dict>
</plist>
